#event-create(ng-controller="EventsCtrl")
  %p(ng-show="eventCreated") Event created!

  %form(ng-submit="eventCreate(event)" ng-hide="eventCreated")


    .form-group
      %label(for="event-location") Where
      %input#event-location(ng-enter="findLocation()" type="search" ng-model="event.location" placeholder="Enter a location and press Enter")

    .form-group
      %p(ng-show="notFound") Sorry, I was unable to find this place. Try again.
      %google-map(center="map.center" zoom="map.zoom" draggable="true" options="map.options")
        %marker(coords="searchLocationMarker.coords" options="searchLocationMarker.options" events="searchLocationMarker.events")

    .form-group
      %label(for="event-date") When
      %input#event-date(type="date" ng-model="event.date")

    .form-group
      %label(for="event-time") From
      %select#event-time(ng-model="event.time" ng-options="o for o in timeList")

    .form-group
      %label(for="event-style") Slackline style
      %select#event-style(ng-model="event.style")
        %option(value="Trickline" selected) Trickline
        %option(value="Highline") Highline
        %option(value="Waterline") Waterline

    .form-group
      %label(for="event-description")
        %a(href ng-click="showDescriptionTextarea = !showDescriptionTextarea") + Add a description?
        (optional)
      %textarea#event-description(rows="5" ng-show="showDescriptionTextarea" ng-model="event.description" placeholder="Enter a description")

    .form-group
      %input(type="hidden" ng-model="event.coords")
      %input(type="submit" class="event-submit" value="Create the event")

    .form-group
      %p(style="margin-top: 30px;") Debug:
      %pre {{event | json}}
