%header.main-header
  %h1
    %a(href="/") The S Project
  .header-actions
    %form.main-search
      %input(type="search" placeholder="search")
    %nav.main-nav
      %a(href="create") + create
      %a(href="#") login
